<div class="modal-header">
  <h5 class="modal-title">
    Developed with support from
  </h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-5">
      <img ngSrc="assets/logo/UKRI_MRC_%20PPU_Dundee.png" class="mx-auto" height="132" width="981" alt="mrc-ppu-log">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-5">
      <img ngSrc="assets/logo/ASAP_FullColor.png" class="mx-auto" alt="asap-logo" height="93" width="500">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="close()">Close</button>
</div>
