
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="plotDataArray.length"
  [maxSize]="5"
  [rotate]="true"
  [boundaryLinks]="true"
>
</ngb-pagination>
<hr>
<ng-container *ngFor="let plot of plotDataArray| slice: (page-1)*pageSize:page*pageSize">
  <ng-container [ngSwitch]="plot.plotType">
    <div>
      <app-bar-chart *ngSwitchCase="'bar-chart'" [data]="plot" (toggleAnnotation)="annotationHandler($event, plot.df[plot.form.primaryID])"></app-bar-chart>
      <app-ptm-summary-chart *ngSwitchCase="'ptm-bar-chart'" [data]="plot" (toggleAnnotation)="ptmAnnotationHandler($event)"></app-ptm-summary-chart>
    </div>
    <hr>
  </ng-container>
</ng-container>
<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="plotDataArray.length"
  [maxSize]="5"
  [rotate]="true"
  [boundaryLinks]="true"
>

</ngb-pagination>
