<div class="row" [@mouseInOut]="mouseIn ? 'in': 'out'" (mouseenter)="toggleIn()" (mouseleave)="toggleOut()">
  <div class="col-3" *ngIf="extraMetaDataDBID && extraMetaDataDBID !== ''">
    <div class="p-2">
      <app-side-card [data]="{hasExtra: hasExtra, metaData: metaData, primaryID: primaryID, relatedVolcano}"></app-side-card>
    </div>
    <div class="p-2">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="toggleAnnotation" id="toggleAnnotation">
              <label class="form-check-label" for="toggleAnnotation">Annotate on volcano plot</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
      <li [ngbNavItem]="'intensity'">
        <button ngbNavLink>Intensity Data</button>
        <ng-template ngbNavContent>
          <app-bar [data]="data"></app-bar>
        </ng-template>
      </li>
      <li [ngbNavItem]="'STRING'" [destroyOnHide]="true">
        <button ngbNavLink>STRING</button>
        <ng-template ngbNavContent>
          <app-string-db [data]="{metaData, searchLinkTo: data.searchLinkTo}"></app-string-db>
        </ng-template>
      </li>
      <li ngbNavItem="ProteomicsDB">
        <button ngbNavLink>Proteomics DB</button>
        <ng-template ngbNavContent>
          <app-proteomics-db [uniprotID]="metaData['Entry']"></app-proteomics-db>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>

