<div class="card">
  <div class="card-body">
    <plotly-plot [config]="config" [data]="graphData" [layout]="graphLayout" [updateOnDataChange]="true" [updateOnLayoutChange]="true"></plotly-plot>
    <hr>
    <div class="row">
      <div class="p-2 col-6">
        <plotly-plot [config]="configAverage" [data]="graphDataAverage" [layout]="graphLayoutAverage" [updateOnDataChange]="true" [updateOnLayoutChange]="true"></plotly-plot>
      </div>
      <div class="p-2 col-6">
        <plotly-plot [config]="configViolin" [data]="graphDataViolin" [layout]="graphLayoutViolin" [updateOnDataChange]="true" [updateOnLayoutChange]="true"></plotly-plot>
      </div>
    </div>
  </div>
</div>
