<input type="file" id="fileimport" hidden (change)="handleFile($event)" #fileUpload accept=".txt"/>
<input type="file" id="sessionFileImport" hidden (change)="handleSessionFile($event)" #sessionFileUpload accept=".json" />
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Curtain Flex</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item p-2" *ngIf="dataService.data.filenameList.length > 0">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="plotDropdown" ngbDropdownToggle>
                <span><i class="bi-graph-up"></i> Plot</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="plotDropdown">
                <a class="dropdown-item" (click)="openChartSelection()"><i class="bi-graph-up-arrow"></i> Add Plot</a>
                <a class="dropdown-item"><i class="bi-graph-down-arrow"></i> Remove Plot</a>
                <a class="dropdown-item"><i class="bi-file-bar-graph-fill"></i> Plot Management</a>
              </div>
            </div>
          </li>
          <li class="nav-item p-2">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="sessionDropdown" ngbDropdownToggle>
                <span><i class="bi-file-binary"></i> Session</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="sessionDropdown">
                <a class="dropdown-item" (click)="fileUpload.click()"><i class="bi-database-add"></i> Import Data File</a>
                <a class="dropdown-item" (click)="exportToFile()"> Export Session To File</a>
                <a class="dropdown-item" (click)="sessionFileUpload.click()"> Load Session From File</a>
                <a class="dropdown-item"><i class="bi-database"></i> Data Management</a>
              </div>
            </div>
          </li>
          <li class="nav-item p-2">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="accountDropdown" ngbDropdownToggle>
                <span><i class="bi-person"></i> Accounts</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="accountDropdown">
                <a class="dropdown-item">Login</a>
                <a class="dropdown-item">Logout</a>
              </div>
            </div>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<app-plot-compositor></app-plot-compositor>
