<div class="modal-header">
  <div class="modal-title">
    Chart Parameter Selection
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="initialForm">
    <div class="form-group">
      <label for="plotTitle">Plot unique title</label>
      <input formControlName="plotTitle" type="text" class="form-control" id="plotTitle" placeholder="Plot Title">
    </div>
    <div class="form-check">
      <input class="form-check-input" id="ptm" type="checkbox" formControlName="ptm">
      <label class="form-check-label" for="ptm">PTM</label>
    </div>
    <div class="form-group">
      <label for="chartType">Plot Type</label>
      <select class="form-control" id="chartType" formControlName="plotType">
        <ng-container *ngFor="let ct of plotTypeList">
          <ng-container *ngIf="ct.enable">
            <option  [value]="ct.value" *ngIf="ct.all || (ct.availableInPTM === initialForm.value.ptm)">{{ct.name}}</option>
          </ng-container>
        </ng-container>
      </select>
    </div>
    <div class="form-group" *ngIf="data.filenameList.length > 0">
      <label for="selectedFile">Select Imported File</label>
      <select class="form-control" id="selectedFile" formControlName="filename">
        <option *ngFor="let filename of data.filenameList" [value]="filename">{{filename}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="linkSearch">Link search with</label>
      <select id="linkSearch" class="form-control" formControlName="searchLinkTo">
        <ng-container *ngFor="let p of plotList">
          <option [value]="p.id">{{p.id}}</option>
        </ng-container>
      </select>
    </div>
  </form>
  <ng-container *ngIf="selectedDF.getColumnNames().length > 0 && selectedPlotType !== ''">
    <ng-container [ngSwitch]="selectedPlotType">
      <ng-container *ngSwitchCase="'volcano-plot'">
        <app-volcano-plot-form [columns]="selectedDF.getColumnNames()" #volcano></app-volcano-plot-form>
      </ng-container>
      <ng-container *ngSwitchCase="'scatter-plot'">
        <app-scatter-plot-form [columns]="selectedDF.getColumnNames()" #scatter></app-scatter-plot-form>
      </ng-container>
      <ng-container *ngSwitchCase="'bar-chart'">
        <app-bar-chart-form [columns]="selectedDF.getColumnNames()" #bar></app-bar-chart-form>
      </ng-container>
      <ng-container *ngSwitchCase="'ptm-bar-chart'">
        <app-ptm-summary-chart-form [columns]="selectedDF.getColumnNames()" #ptmBar></app-ptm-summary-chart-form>
      </ng-container>
      <ng-container *ngSwitchCase="'box-plot'">
        <app-box-plot-form [columns]="selectedDF.getColumnNames()" #box></app-box-plot-form>
      </ng-container>
      <ng-container *ngSwitchCase="'correlation-matrix'">
        <app-correlation-matrix-form [columns]="selectedDF.getColumnNames()" #correlationMatrix></app-correlation-matrix-form>
      </ng-container>
      <ng-container *ngSwitchCase="'line-chart'">
        <app-line-chart-form [columns]="selectedDF.getColumnNames()" #line></app-line-chart-form>
      </ng-container>
    </ng-container>
  </ng-container>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="submit()">Submit</button>
  <button class="btn btn-default" (click)="activeModal.dismiss()">Cancel</button>
</div>
