<div class="row" [@mouseInOut]="mouseIn ? 'in': 'out'" (mouseenter)="toggleIn()" (mouseleave)="toggleOut()">
  <div class="col-3" *ngIf="extraMetaDataDBID && extraMetaDataDBID !== ''">
    <app-side-card [data]="{hasExtra: hasExtra, metaData: metaData, primaryId: primaryID}"></app-side-card>
  </div>
  <div class="col-9">
    <div class="card border-dark">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
          <li ngbNavItem="table">
            <button ngbNavLink>Intensity Data</button>
            <ng-template ngbNavContent>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">
                    Primary ID
                  </th>
                  <th scope="col">
                    Fold Change
                  </th>
                  <th scope="col">
                    P-Value
                  </th>
                  <th scope="col">
                    Position in Peptide
                  </th>
                  <th scope="col">
                    Position in Protein
                  </th>
                  <th scope="col">
                    Sequence
                  </th>
                  <th scope="col">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let ptm of ptmPlotArray">
                  <tr>
                    <td>
                      {{ptm.df[data.form.primaryID]}}
                    </td>
                    <td>
                      {{ptm.df[extra.ptmForm.foldChange]}}
                    </td>
                    <td>
                      {{ptm.df[extra.ptmForm.minuslog10pValue]}}
                    </td>
                    <td>
                      {{ptm.df[extra.ptmForm.positionInPeptide]}}
                    </td>
                    <td>
                      {{ptm.df[extra.ptmForm.positionInProtein]}}
                    </td>
                    <td>
                      {{ptm.df[extra.ptmForm.peptideSequence]}}
                    </td>
                    <td class="d-flex">
                      <div class="p-2">
                        <div ngbDropdown class="d-inline-block">
                          <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
                            Actions
                          </button>
                          <div ngbDropdownMenu>
                            <button ngbDropdownItem (click)="toggleVisual(ptm.df[data.form.primaryID])"><i class="bi bi-file-bar-graph"></i> Toggle Visualization</button>
                            <div ngbDropdownItem>
                              <form [formGroup]="annotationFormMap[data.form.primaryID]">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formArrayName="toggleAnnotation">
                                  <label class="form-check-label">Annotate on volcano plot</label>
                                </div>
                              </form>
                            </div>

                          </div>
                        </div>

                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="visualizationState[ptm.df[data.form.primaryID]]">
                    <td colspan="7">
                      <app-bar [data]="ptm"></app-bar>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </ng-template>
          </li>
          <li ngbNavItem="STRING" [destroyOnHide]="true">
            <button ngbNavLink>STRING</button>
            <ng-template ngbNavContent>
              <app-string-db [data]="{metaData, searchLinkTo: data.searchLinkTo}"></app-string-db>
            </ng-template>
          </li>
          <li ngbNavItem="ProteomicsDB">
            <button ngbNavLink>Proteomics DB</button>
            <ng-template ngbNavContent>
              <app-proteomics-db [uniprotID]="metaData['Entry']"></app-proteomics-db>
            </ng-template>
          </li>
          <li ngbNavItem="ptmViewer">
            <button ngbNavLink>PTM Position Viewer</button>
            <ng-template ngbNavContent>

            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>

  </div>
</div>


